
h1 {
    color: #f0f2f4;
    font-size: 50px;
}

.text{
    font-size: 18px;
  line-height: 3.5;
  padding: 20px;
  border: 3px solid #ddd;
  border-radius: 30px;
  background-color: gray;
}

.conteiner-inicio {
    width: 100%;
    
    color:aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}


.conteiner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.App {
    display:flex;
    justify-content: center;
    
  }
img, video {
    max-width: 100%;
    height: auto;
}
  @media (max-width: 768px) {
    .App {
      order: 2;
    }
  }



@media only screen and (max-width: 600px) {
    .mainItems {
        grid-template-columns: auto;
    }

    .conteiner-inicio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

  
}

