
h1 {
    color: #f0f2f4;
    font-size: 50px;
}


#inicio{
    text-align: center;
}
.conteiner-inicio {
    width: 90%;
    display: grid;
    max-width: 1500px;
    padding: 40px auto;
    gap: 12px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
    color:aliceblue;
    max-width: 100%;
    height: auto;
    
}
.conteiner-inicio1 {
   display: flex;
   
 
}

img, video {
    max-width: 100%;
    height: auto;
}


.conteiner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.log {
    width: 500px;
    height: 430px;
}




.App {
    border-radius: 20%;
    font-weight: bold;
    border: none;
    margin-top: 30px;
}





@media only screen and (max-width: 600px) {
    .mainItems {
        grid-template-columns: auto;
    }

    .conteiner-inicio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .App {
        max-width: 100%;
        height: auto;
        display: none;
        border-radius: 10%;

      }
}

