.video-container {
    max-width: 300px; /* Ancho máximo para el video */
    margin: 0 auto;   /* Centrar el video horizontalmente */
    padding: 20px;
  }
  
  video {
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un estilo */
  }
  