/* body{
    background-image: url(../../assets/images/Producto.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.conteiner-producto{
color:aliceblue;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.info{
    
    display: flex;
    flex-direction: column;
}

/* .conteiner-producto h1{
    color:gray;
}

.text-producto p{
    color: green;
} */



  
  .video {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .video {
      order: 2;
    }
  }