
#root {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Edu TAS Beginner';
  background: rgb(208, 237, 186);
  background: linear-gradient(0deg, rgb(244, 217, 232) 30%, rgb(228, 247, 213) 80%);
  
}
