
#root {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Edu TAS Beginner';
  background: rgb(159, 194, 132);
  background: linear-gradient(0deg, rgb(243, 191, 220) 30%, rgb(159, 194, 132) 80%);
  
}
